.link {
	display: flex;
	position: relative;
	width: calc(33% - 20px);
}

.main {
	display: flex;
	justify-content: space-between;
	background-color: rgba(27, 10, 48, 0.8);
	box-sizing: border-box;
	margin-bottom: 37px;
	position: relative;
	cursor: pointer;
	transform-style: preserve-3d;
	height: 300px;
	backdrop-filter: blur(3px);
}
.decor1, .decor2 {
	position: absolute;
	opacity: 0;
	transition: opacity .2s ease;
	pointer-events: none;
}
.decor1 {
	left: -5px;
	top: -5px;
}
.decor2 {
	transform: rotate(180deg);
	right: -5px;
	bottom: -5px;
}

.neon {
	position: absolute;
}

.neonLeft {
	left: 0;
	top: 0;
}

.neonRight {
	right: 0;
	bottom: 0;
}

.main:hover .decor1, .main:hover .decor2, .main:hover .decor {
	opacity: 1
}

.main:hover .glow::after {
	background: #140441;
}

.main > div {
	padding-top: 27px;
	padding-left: 20px;
	padding-bottom: 27px;
	box-sizing: border-box;
}

.main > div p {
	width: 75%
}

.main > div:first-child {
	min-width: 40%;
	padding-right: 20px;
	position: relative;
	padding-left: 0;
	padding-top: 0;
}

.main p {
	font-size: 14px;
	margin-top: 27px;
	position: relative;
	z-index: 1;
}

.main h3 {
	position: relative;
	z-index: 1;
}

.glow {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.glow::after {
	transition: background .5s ease;
	content: "";
	background: #00f7ff;
	position: absolute;
	width: 15%;
	height: 50%;
	left: 80px;
	top: 80px;
	z-index: 1;
	border-radius: 50%;
	filter: blur(50px);
	transform: scale(1.1, 1.5);
}

.decor {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(110.31deg, rgba(239, 72, 182, 0.6) 0.75%, rgba(77, 1, 137, 0.6) 102.67%);
	z-index: 0;
	opacity: 0;
	transition: opacity .2s ease;
}

.riveOrImageHolder {
	position: relative;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	transform-origin: left;
	transform: scale(1.2);
	z-index: 11;
}

.rive {
	z-index: 10;
	position: relative;
	height: 300px;
	/* transform: translateX(-20px); */
}

.rive canvas {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	max-width: 100% !important;
	transform: translateY(-10px)
	
}

.image {
	position: relative;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	max-height: 250px;
}